<div>
  <div class="jumbotron" >
  <h1>Backbase</h1>
  <p class="lead">
    This project had been created in order by Backbase to test the frontend skills of the developer in question.
    </p>
    <p>For choices and tools made in this project refer to the README.md
  </p>
</div>
<div class="container">
    <table class='table'>
      <tr>
        <th>Year</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Nationality</th>
        <th>Date of birth</th>
        <th>Info</th>
      </tr>
      <tr ng-repeat="(year, winner) in winners">
        <td>{{year}}</td>
        <td>{{winner.givenName}}</td>
        <td>{{winner.familyName}}</td>
        <td>{{winner.nationality}}</td>
        <td>{{winner.dateOfBirth | date: "dd-MM-yyyy"}}</td>
        <td><span class="label label-primary infoLabel"style="cursor:pointer;" data-toggle="modal" data-target="#modal" ng-click="raceDataonClick(year)"><span class="glyphicon glyphicon-search" ></span> Info</span></td>
        <tr>
      </tr>
      </tr>
    </table>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modelLabel">Races in: {{season}}</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>Nr</th>
            <th>Race name</th>
            <th>Circuit name</th>
            <th>winner</th>
            <th>Fastest lap</th>
          </tr>
          <tr ng-repeat="(k,race) in selectedYear" ng-class="{'danger': race.Results[0].Driver.driverId == seasonWinner.driverId}">
            <td>{{k}}</td>
            <td>{{race.raceName}}</td>
            <td>{{race.Circuit.circuitName}}</td>
            <td>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</td>
            <td>Lap: {{race.Results[0].FastestLap.lap}}, {{race.Results[0].FastestLap.AverageSpeed.speed}} {{race.Results[0].FastestLap.AverageSpeed.units}}</td>


          </tr>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

</div>
